

    <div id="menu" class="menu">
     <div class="menu-btn">
        <p></p> 
        <p></p> 
        <p></p> 
     </div>
     <div class="heng"></div>
     <p>
       昆汀·塔伦蒂诺-电影列表
     </p>
  </div>
   <p class="ding"></p>
  <div class="the-card">
     <p class="this-name">
       《低俗小说》
     </p>
    
     <div class="this-pic">
       <p><img src="image/img1.jpg"></p> 
       <div>
         <ul>
           <li> <span class="shou">8</span><span class="wei">.7</span> 美国 | 剧情/惊悚/犯罪</li>
           <li>154 分钟  1994.10.14</li>
         </ul>
       </div>
     </div>
  </div>

  <p class="about">
  《低俗小说》由“文森特和马沙的妻子”、“金表”、“邦妮的处境”三个故事以及影片首尾的序幕和尾声五个部分组成。看似独立的小故事里面，却又有环环相扣的人和事。 
  </p>

  <div class="go-button">
    <div>
      <button onclick="test()">精彩片段</button>
    </div>
    <div>
      <button>查看评论</button>
    </div>
  </div>


  <div class="the-card">
     <p class="this-name">
       《被解救的姜戈》
     </p>
    
     <div class="this-pic">
       <p><img src="image/img3.jpg"></p> 
       <div>
         <ul>
           <li> <span class="shou">8</span><span class="wei">.5</span> 美国 | 剧情/动作/西部/冒险</li>
           <li>163 分钟  2012.12.25</li>
         </ul>
       </div>
     </div>
  </div>

  <p class="about">
  1858年，美国南北战争前两年。德国赏金猎人金·舒尔茨从贩奴商人手中买下黑奴姜戈，让其重获自由。舒尔茨实则是要把姜戈培养成无法无天的赏金猎人，为其缉拿各种通缉犯以换取报酬。姜戈的唯一条件是：从暴虐的糖果庄园主卡尔文·坎迪手中解救出自己的妻子布鲁姆希尔达。 
  </p>

  <div class="go-button">
    <div>
      <button onclick="test()">精彩片段</button>
    </div>
    <div>
      <button>查看评论</button>
    </div>
  </div>


  <div class="the-card">
     <p class="this-name">
       《无耻混蛋》
     </p>
    
     <div class="this-pic">
       <p><img src="image/img4.jpg"></p> 
       <div>
         <ul>
           <li> <span class="shou">8</span><span class="wei">.3</span> 美国 | 剧情/战争/冒险</li>
           <li>153 分钟  2009.08.20</li>
         </ul>
       </div>
     </div>
  </div>

  <p class="about">
  故事发生在二战期间，一群犯了罪的美国士兵原本将要被处以死刑，但是非常时期采取非常政策，他们被允许戴罪立功——深入已被纳粹占领的法国去执行一项危险任务，此项任务代号为：基诺行动。 
  </p>

  <div class="go-button">
    <div>
      <button onclick="test()">精彩片段</button>
    </div>
    <div>
      <button>查看评论</button>
    </div>
  </div>


  <div class="the-card">
     <p class="this-name">
       《杀死比尔》
     </p>
    
     <div class="this-pic">
       <p><img src="image/img5.jpg"></p> 
       <div>
         <ul>
           <li> <span class="shou">8</span><span class="wei">.2</span> 美国 | 动作/惊悚/犯罪</li>
           <li>111 分钟  2003.10.10</li>
         </ul>
       </div>
     </div>
  </div>

  <p class="about">
  一个新娘在自己的婚礼上遭到了暗杀，婚礼瞬间变成了一片狼籍的红色。幸运的是，新娘并没有就此消失，而是在四年后苏醒过来，并且接受了高强度的各种各样的武术训练，开始踏上了自己的复仇之路。 
  </p>

  <div class="go-button">
    <div>
      <button onclick="test()">精彩片段</button>
    </div>
    <div>
      <button>查看评论</button>
    </div>
  </div>


  <div class="the-card">
     <p class="this-name">
       《落水狗》
     </p>
    
     <div class="this-pic">
       <p><img src="image/img6.jpg"></p> 
       <div>
         <ul>
           <li> <span class="shou">8</span><span class="wei">.0</span> 美国 | 剧情/惊悚/犯罪</li>
           <li>99 分钟  1992.09.02</li>
         </ul>
       </div>
     </div>
  </div>

  <p class="about">
  故事发生在南加州某地，黑帮老大乔·卡伯特和他的儿子“好家伙”艾迪召集了六名强盗，准备到珠宝店抢劫一批天然钻石。这六个人彼此各不相识，甚至连对方的姓名都无从得知。乔为了保持机密，以颜色作为代号分别给六人起名为白先生、橙先生、金先生、粉先生、棕先生和蓝先生，并规定他们之间不能透露任何私事。
  </p>

  <div class="go-button">
    <div>
      <button onclick="test()">精彩片段</button>
    </div>
    <div>
      <button>查看评论</button>
    </div>
  </div>




