
  <div id="menu" class="menu">
      <div>
          <div>
              <p>
                  <img src="http://7xj0rt.com1.z0.glb.clouddn.com/header.jpg">
              </p>
          </div>
          <ul>
              <li data-url="index">首页</li>
              <li data-url="subject">细目</li>
              <li data-url="article">文章</li>
              <li data-url="image">图文</li>
              <li data-url="book" class="select">读书</li>
          </ul>
      </div>
  </div>

  

    <div id="content">
          
          <div class="book-box">
          
              <!-- 进行时 -->
              <div class="book-ing">
                  <div class="title">
                      进行时
                  </div>
                  <div class="list">
                      <div>
                          <b>
                              <img src="http://7xj0rt.com1.z0.glb.clouddn.com/book/she.jpg">
                          </b>
                          <p class="name">断离舍</p>
                          <p class="author">【日】山下英子</p>
                      </div>
                      <div>
                          <b>
                              <img src="http://7xj0rt.com1.z0.glb.clouddn.com/book/pi.jpg">
                          </b>
                          <p class="name">皮囊</p>
                          <p class="author">蔡崇达</p>
                      </div>
                      <div>
                          <b>
                              <img src="http://7xj0rt.com1.z0.glb.clouddn.com/book/425.jpg">
                          </b>
                          <p class="name">我是猫</p>
                          <p class="author">夏目漱石</p>
                      </div>
                      <div>
                          <b>
                              <img src="http://7xj0rt.com1.z0.glb.clouddn.com/book/book202.png">
                          </b>
                          <p class="name">蜗牛慢吞吞</p>
                          <p class="author">周宗伟</p>
                      </div>
                      <div>
                          <b>
                              <img src="http://7xj0rt.com1.z0.glb.clouddn.com/book/129804big.jpg">
                          </b>
                          <p class="name">不裁</p>
                          <p class="author">古十九</p>
                      </div>
                      <div>
                          <b>
                              <img src="http://7xj0rt.com1.z0.glb.clouddn.com/book/book5.jpg">
                          </b>
                          <p class="name">蚁呓</p>
                          <p class="author">周宗伟</p>
                      </div>
                      <div>
                          <b>
                              <img src="http://7xj0rt.com1.z0.glb.clouddn.com/book/book06.jpg">
                          </b>
                          <p class="name">邮差总按两遍铃</p>
                          <p class="author">詹姆斯·M·凯恩</p>
                      </div>
                      <div>
                          <b>
                              <img src="http://7xj0rt.com1.z0.glb.clouddn.com/book/book07.jpg">
                          </b>
                          <p class="name">远方的鼓声</p>
                          <p class="author">村上春树</p>
                      </div>

                  </div>
              </div>
              <!-- 将来时 -->
              <div class="book-shall" style="display:none">
                  <div class="title">
                      将来时
                  </div>
                  <div class="list">
                      <div>
                          <b>
                              <img src="http://7xj0rt.com1.z0.glb.clouddn.com/book/she.jpg">
                          </b>
                          <p class="name">布拉格</p>
                          <p class="author">保罗.科埃略</p>
                      </div>
                      <div>
                          <b>
                              <img src="http://7xj0rt.com1.z0.glb.clouddn.com/book/she.jpg">
                          </b>
                          <p class="name">布拉格</p>
                          <p class="author">保罗.科埃略</p>
                      </div>
                      <div>
                          <b>
                              <img src="http://7xj0rt.com1.z0.glb.clouddn.com/book/she.jpg">
                          </b>
                          <p class="name">布拉格</p>
                          <p class="author">保罗.科埃略</p>
                      </div>
                      <div>
                          <b>
                              <img src="http://7xj0rt.com1.z0.glb.clouddn.com/book/she.jpg">
                          </b>
                          <p class="name">布拉格</p>
                          <p class="author">保罗.科埃略</p>
                      </div>
                  </div>

              </div>

              <!-- 电影 -->
              <div class="movie">
                  <div class="movie-title">最近看的电影</div>
                  <div class="movie-list">
                  <div>
                        <b>
                          <img src="http://7xj0rt.com1.z0.glb.clouddn.com/movie/novie_rufuruzi.jpg">
                        </b>
                        <p class="name">《如父如子》</p>
                        <p class="info">影片讲述了一个日本安逸的中产家庭突然得知他们6岁孩子出生时在医院被抱错而陷入家庭伦理困境的故事。</p>
                      </div>
                      <div>
                        <b>
                          <img src="http://7xj0rt.com1.z0.glb.clouddn.com/movie/movie_liewu.jpg">
                        </b>
                        <p class="name">《狩猎》</p>
                        <p class="info">影片用一个关于绯闻、谎言、仇恨和怀疑的传闻毁掉一个男人生活的故事，讲述了谎言变成“事实”的过程，向我们揭示了众口铄金的的含义。</p>
                      </div>
                      <div>
                        <b>
                          <img src="http://7xj0rt.com1.z0.glb.clouddn.com/movie/movie_forpail.jpg">
                        </b>
                        <p class="name">《速度与激情7》</p>
                        <p class="info">“为了保罗”——这似乎成了《速度与激情7》的唯一意义，但不论对于观众还是影片主创来说，和保罗说再见都不是容易的事。</p>
                      </div>
                      <div>
                        <b>
                          <img src="http://7xj0rt.com1.z0.glb.clouddn.com/movie/movie01.jpg">
                        </b>
                        <p class="name">《霍比特人：五军之战》</p>
                        <p class="info">在上一部结尾处，比尔博一行人对巨龙史矛革声称将要重新收复自己的家园...</p>
                      </div>
                      <div>
                        <b>
                          <img src="http://7xj0rt.com1.z0.glb.clouddn.com/movie/1-150122223A8.jpg">
                        </b>
                        <p class="name">《智取威虎山》</p>
                        <p class="info">改编自曲波小说《林海雪原》，讲述的是解放军一支骁勇善战的小分队与在东北山林盘踞多年的数股土匪斗志斗勇的故事。</p>
                      </div>
                      <div>
                        <b>
                          <img src="http://7xj0rt.com1.z0.glb.clouddn.com/movie/movie03.jpg">
                        </b>
                        <p class="name">《一步之遥》</p>
                        <p class="info">影片讲述的是1920年的上海，花国大选如火如荼。操纵大选的几个海外回来的上海小开想借此大捞一把，还...</p>
                      </div>
                      <div>
                        <b>
                          <img src="http://7xj0rt.com1.z0.glb.clouddn.com/movie/movie04.jpg">
                        </b>
                        <p class="name">《寂静岭》</p>
                        <p class="info">影片讲述一名普通的母亲发现自己的女儿患上了致命疾病，她完全无法接受这样残酷的事实，所以带着自己的女人踏入了...</p>
                      </div>
                      <div>
                        <b>
                          <img src="http://7xj0rt.com1.z0.glb.clouddn.com/movie/movie05.jpg">
                        </b>
                        <p class="name">《爆裂鼓手》</p>
                        <p class="info">讲述一个热爱音乐的年青人努力地想要成为顶尖的爵士乐鼓手的故事。</p>
                      </div>
                      <div>
                        <b>
                          <img src="http://7xj0rt.com1.z0.glb.clouddn.com/movie/movie06.jpg">
                        </b>
                        <p class="name">《云中漫步》</p>
                        <p class="info">二战结束后，思乡心切的大批美军士兵踏上旧金山港即投进久候的亲人的怀抱，但保罗•萨顿久等仍不见其妻子... </p>
                      </div>

                  </div>
              </div>

              <!-- 电视剧 -->
              <div class="TV-drama">
                  <div class="TV-drama-title">最近看的电视剧</div>
                  <div class="TV-drama-list">
                     <div>
                        <div class="info">
                            <div>
                                <h2>《权利的游戏》</h2>
                                <i></i>
                                <p>《权力的游戏》（Game of Thrones）改编自美国作家乔治·R·R·马丁的奇幻小说《冰与火之歌》系列，是美国HBO电视网制作推出的一部中世纪史诗奇幻题材的电视剧。</p>
                            </div>
                        </div>
                        <div class="img">
                           <div>
                             <!-- <img src="http://7xj0rt.com1.z0.glb.clouddn.com/fff.png"> -->
                             <p>第五季进行时</p>
                             <i>共10集</i>
                           </div>
                           <div>
                             <img src="http://7xj0rt.com1.z0.glb.clouddn.com/tv/fff.png">
                           </div>
                           <div>
                             <img src="http://7xj0rt.com1.z0.glb.clouddn.com/tv/tv01.png">
                           </div>
                           <div>
                             <img src="http://7xj0rt.com1.z0.glb.clouddn.com/tv/tv02.png">
                           </div>
                           <div>
                             <img src="http://7xj0rt.com1.z0.glb.clouddn.com/tv/tv03.png">
                           </div>
                           <div>
                             <img src="http://7xj0rt.com1.z0.glb.clouddn.com/tv/tv04.png">
                           </div>
                           <div>
                             <img src="http://7xj0rt.com1.z0.glb.clouddn.com/tv/tv05.png">
                           </div>
                           <div>
                             <img src="http://7xj0rt.com1.z0.glb.clouddn.com/tv/tv06.png">
                           </div>

                        </div>
                     </div>

                  </div>


              </div>

              <!-- 电视剧 -->
<!--               <div class="TV-drama">
                  <div class="TV-drama-title">以后必看的电视剧</div>
                  <div class="TV-drama-list"></div>


              </div> -->



          </div>


    </div>

