  
  <div id="menu" class="menu">
     <div class="menu-btn">
        <p></p> 
        <p></p> 
        <p></p> 
     </div>
     <div class="heng"></div>
     <p>
        导演
     </p>
  </div>

  <div class="the-card">
     <p class="this-name">
       昆汀·塔伦蒂诺
     </p>
     <p class="this-title">
       一半是天才，一半是混蛋
     </p>
     <div class="this-pic">
       <img src="image/theheader.jpg">
       <div>
         <p>主要作品</p>
         <ul>
           <li>《杀死比尔》</li>
           <li>《被解救的姜戈》</li>
           <li>《无耻混蛋》</li>
           <li>《低俗小说》</li>
         </ul>
       </div>
     </div>
  </div>

  <p class="about">
    美国导演，演员及奥斯卡获奖编剧。生于美国田纳西州的挪克斯维尔。昆汀这个名字来源于影片《枪之烟火》中的角色。
  </p>

  <div class="go-button">
    <button>资料</button>
    <button>经历</button>
    <button>成就</button>
  </div>


  <div class="the-card">
     <p class="this-name">
       昆汀·塔伦蒂诺
     </p>
     <p class="this-title">
       一半是天才，一半是混蛋
     </p>
     <div class="this-pic">
       <img src="image/theheader.jpg">
       <div>
         <p>主要作品</p>
         <ul>
           <li>《杀死比尔》</li>
           <li>《被解救的姜戈》</li>
           <li>《无耻混蛋》</li>
           <li>《低俗小说》</li>
         </ul>
       </div>
     </div>
  </div>

  <p class="about">
    美国导演，演员及奥斯卡获奖编剧。生于美国田纳西州的挪克斯维尔。昆汀这个名字来源于影片《枪之烟火》中的角色。
  </p>

  <div class="go-button">
    <button>资料</button>
    <button>经历</button>
    <button>成就</button>
  </div>




  <div class="the-card">
     <p class="this-name">
       昆汀·塔伦蒂诺
     </p>
     <p class="this-title">
       一半是天才，一半是混蛋
     </p>
     <div class="this-pic">
       <img src="image/theheader.jpg">
       <div>
         <p>主要作品</p>
         <ul>
           <li>《杀死比尔》</li>
           <li>《被解救的姜戈》</li>
           <li>《无耻混蛋》</li>
           <li>《低俗小说》</li>
         </ul>
       </div>
     </div>
  </div>

  <p class="about">
    美国导演，演员及奥斯卡获奖编剧。生于美国田纳西州的挪克斯维尔。昆汀这个名字来源于影片《枪之烟火》中的角色。
  </p>

  <div class="go-button">
    <button>资料</button>
    <button>经历</button>
    <button>成就</button>
  </div>



  <div class="the-card">
     <p class="this-name">
       昆汀·塔伦蒂诺
     </p>
     <p class="this-title">
       一半是天才，一半是混蛋
     </p>
     <div class="this-pic">
       <img src="image/theheader.jpg">
       <div>
         <p>主要作品</p>
         <ul>
           <li>《杀死比尔》</li>
           <li>《被解救的姜戈》</li>
           <li>《无耻混蛋》</li>
           <li>《低俗小说》</li>
         </ul>
       </div>
     </div>
  </div>

  <p class="about">
    美国导演，演员及奥斯卡获奖编剧。生于美国田纳西州的挪克斯维尔。昆汀这个名字来源于影片《枪之烟火》中的角色。
  </p>

  <div class="go-button">
    <button>资料</button>
    <button>经历</button>
    <button>成就</button>
  </div>



  <div class="the-card">
     <p class="this-name">
       昆汀·塔伦蒂诺
     </p>
     <p class="this-title">
       一半是天才，一半是混蛋
     </p>
     <div class="this-pic">
       <img src="image/theheader.jpg">
       <div>
         <p>主要作品</p>
         <ul>
           <li>《杀死比尔》</li>
           <li>《被解救的姜戈》</li>
           <li>《无耻混蛋》</li>
           <li>《低俗小说》</li>
         </ul>
       </div>
     </div>
  </div>

  <p class="about">
    美国导演，演员及奥斯卡获奖编剧。生于美国田纳西州的挪克斯维尔。昆汀这个名字来源于影片《枪之烟火》中的角色。
  </p>

  <div class="go-button">
    <button>资料</button>
    <button>经历</button>
    <button>成就</button>
  </div>








  

  <div style="height:150px;width: 100%"></div>



