
    <div id="menu" class="menu">
     <div class="menu-btn">
        <p></p> 
        <p></p> 
        <p></p> 
     </div>
     <div class="heng"></div>
     <p>
       昆汀·塔伦蒂诺
     </p>
  </div>

  <div class="the-card">
     <p class="this-name">
       《低俗小说》
     </p>
    
     <div class="this-pic">
       <p><img src="image/img.jpg"></p> 
       <div>
         <ul>
           <li> <span class="shou">8</span><span class="wei">.7</span> 美国 | 剧情/惊悚/犯罪</li>
           <li>154 分钟  1994.10.14</li>
         </ul>
       </div>
     </div>
  </div>

  <p class="about">
  《低俗小说》由“文森特和马沙的妻子”、“金表”、“邦妮的处境”三个故事以及影片首尾的序幕和尾声五个部分组成。看似独立的小故事里面，却又有环环相扣的人和事。 
  </p>

  <div class="go-button">
    <div>
      <button>精彩片段</button>
    </div>
    <div>
      <button>查看评论</button>
    </div>
  </div>




